body
{
	text-align: center;
}
span
{
	font-size: 18px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
}

.h3 {
    font-size: 35px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 37px;
}




.b1 {
    margin-top: 100px;
    border-radius: 19px;
    border-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background-color: beige;
}

.b2 {
    border-radius: 19px;
    border-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background-color: beige;
}

.b3 {
    border-radius: 19px;
    border-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background-color: beige;
}

.b4 {
    border-radius: 19px;
    border-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background-color: beige;
}

.b5 {
    border-radius: 19px;
    border-color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background-color: beige;
}